{% extends "base/base.html" %}
{% load humanize %}
{% block content %}
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item pl-2">
      <a class="nav-link pl-4 pr-4 active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{{ object.name }}</a>
    </li>
    <li class="nav-item pl-2">
      <a class="nav-link pl-4 pr-4" id="regions-tab" data-toggle="tab" href="#regions" role="tab" aria-controls="regions" aria-selected="true">Regions</a>
    </li>
    <li class="nav-item pl-2">
      <a class="nav-link pl-4 pr-4" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="profile" aria-selected="false">Users</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <article class="pt-2 pb-2">
        <ul class="list-group">
          <li class="list-group-item"><span class="oi oi-arrow-circle-right"></span> Account: {{ object.account }}</li>
          <li class="list-group-item"><span class="oi oi-arrow-circle-right"></span> No. of regions: {{ object.region_set.count }}</li>
          <li class="list-group-item"><span class="oi oi-arrow-circle-right"></span> No. of users: {{ object.companyuser_set.count }}</li>
        </ul>
      </article>
    </div>
    <div class="tab-pane fade" id="regions" role="tabpanel" aria-labelledby="regions-tab">
      <article class="small pt-2 pb-2">
        <a href="{% url 'region-create' object.id %}" class="btn btn-primary btn-sm mb-2"><span class="oi oi-plus"></span> Add</a>
          {% if object.region_set.all %}
              <table class="table table-bordered table-sm table-striped table-hover">
                  <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                      </tr>
                  </thead>
                  <tbody>
              {% for m in object.region_set.all %}
                      <tr>
                        <td scope="row">{{ m.name }}</td>
                        <td>{{ m.price|intcomma }}</td>
                        <td nowrap="nowrap">
                          <!-- <a href="{% url 'company-delete' m.id %}" class="btn btn-sm"><span class="oi oi-trash"></span></a> -->
                          <a href="{% url 'region-update' m.id %}" class="btn btn-sm"><span class="oi oi-pencil"></span></a>
                        </td>
                      </tr>
              {% endfor %}
                  </tbody>
              </table>
          {% else %}
              <p>No any region to list</p>
          {% endif %}
      </article>
    </div>
    <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
      <article class="small pt-2 pb-2">
        <a href="{% url 'company-user-create' object.id %}" class="btn btn-primary btn-sm mb-2"><span class="oi oi-plus"></span> Add</a>
          {% if object.companyuser_set.all %}
              <table class="table table-bordered table-sm table-striped table-hover">
                  <thead>
                      <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Region</th>
                        <th scope="col"></th>
                      </tr>
                  </thead>
                  <tbody>
              {% for m in object.companyuser_set.all %}
                      <tr>
                        <td scope="row">{{ m.user.username }}</td>
                        <td>{{ m.user.email }}</td>
                        <td>{{ m.user.profile.role }}</td>
                        <td>{{ m.user.companyuser.region }}</td>
                        <td nowrap="nowrap">
                          <!-- <a href="{% url 'company-delete' m.id %}" class="btn btn-sm"><span class="oi oi-trash"></span></a> -->
                          <a href="{% url 'company-user-update' m.id %}" class="btn btn-sm"><span class="oi oi-pencil"></span></a>
                        </td>
                      </tr>
              {% endfor %}
                  </tbody>
              </table>
          {% else %}
              <p>No any region to list</p>
          {% endif %}
      </article>
    </div>
  </div>
{% endblock content%}
