{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'company-detail' company.id %}">{{ company }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Update Company User</li>
          </ol>
        </nav>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submmit">Save</button>
            </div>
        </form>
    </div>
{% endblock content%}
