{% extends "base/base.html" %}
{% load humanize %}
{% block content %}
    <h3>List of Payments</h3>
    {% if payments %}
        <table class="table table-bordered table-sm table-striped table-hover">
            <thead>
                <tr>
                  <th scope="col">Trans ID</th>
                  <th scope="col">Payer MSISDN</th>
                  <th scope="col">Payer Name</th>
                  <th scope="col">Trans Date</th>
                  <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
        {% for m in payments %}
                <tr>
                  <td scope="row">{{ m.trans_id }}</td>
                  <td scope="row">{{ m.payer_account }}</td>
                  <td>{{ m.payer_name }}</td>
                  <td>{{ m.trans_date|date:"d/m/y H:i" }}</td>
                  <td>{{ m.amount|intcomma }}</td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
              {% if page_obj.has_previous %}
                <a class="btn btn-sm btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-sm btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
              {% endif %}

              {% for num in page_obj.paginator.page_range %}
                  {% if page_obj.number == num %}
                    <a class="btn btn-sm btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-sm btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                  {% endif %}
              {% endfor %}

              {% if page_obj.has_next %}
                <a class="btn btn-sm btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-sm btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages }}">Last</a>
              {% endif %}

            {% endif %}
    {% else %}
        <p>No any payments to list</p>
    {% endif %}
{% endblock content%}
