{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <!-- <legend class="borde-botton mb-1">Payment Details</legend> -->
                {{ form|crispy }}
            </fieldset>
            <div class="form-group mb-1">
                <button class="btn btn-outline-info" type="submmit"><span class="oi oi-check"></span> Issue Ticket</button>
            </div>
        </form>
    </div>
    <h5>Issued tickets</h5>
    {% if tickets %}
    <div class="table-responsive">
        <table class="small table table-bordered table-sm table-striped table-hover">
            <thead>
                <tr>
                  <th scope="col">Trans ID</th>
                  <th scope="col">Region</th>
                  <th scope="col">Issue Date</th>
                  <th scope="col">Issuer</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Unit Price</th>
                  <th scope="col">Ticket Count</th>
                  <th scope="col">Balance</th>
                </tr>
            </thead>
            <tbody>
              {% for m in tickets %}
                      <tr>
                        <td scope="row">{{ m.payment.trans_id }}</td>
                        <td scope="row">{{ m.region }}</td>
                        <td>{{ m.issue_date|date:"d/m/y H:i" }}</td>
                        <td>{{ m.issuer }}</td>
                        <td>{{ m.ticket_value|intcomma }}</td>
                        <td>{{ m.unit_price|intcomma }}</td>
                        <td>{{ m.ticket_count }}</td>
                        <td>{{ m.balance|intcomma }}</td>
                      </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
        {% if is_paginated %}
              {% if page_obj.has_previous %}
                <a class="btn btn-sm btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-sm btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
              {% endif %}

              {% for num in page_obj.paginator.page_range %}
                  {% if page_obj.number == num %}
                    <a class="btn btn-sm btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-sm btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                  {% endif %}
              {% endfor %}

              {% if page_obj.has_next %}
                <a class="btn btn-sm btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-sm btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages }}">Last</a>
              {% endif %}

            {% endif %}
    {% else %}
        <p>No any issued tickets to list</p>
    {% endif %}
{% endblock content%}
