<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        body{
            background: #f1f1f1;
        }
        .login{
            background: #3333FF;
            color: white;
            border: none;
            padding: .4rem 1rem;
            border-radius: .2rem;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h4>Congratutaions!</h4>
    <p>You have been successfully registered with username: {{ user.username }}. Your default password is: Fiesta19</p>
    {% if user.companyuser %}
        <p>Your company is <b>{{ user.companyuser.company }}</b></p>
    {% endif %}
    <a class="login" href="https://www.pincomtz.net{% url 'login' %}">Login</a>
</body>
</html>
